.navbar {
	background-color: #225378
}

#sidebar-wrapper{
	background-color: #225378
}
.navbar-header {
	color: red
}

li{
	color: orange
}

.online {
	color: orange
}

.offline{
	color:white 
}

#name{
	color: #ACF0F2;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}

span{
	color: #ACF0F2;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

body{
	background-color: #EBFAFF
}
h4{
	color: #ACF0F2;
	font-family: 'Poiret One', cursive;
}

.col-xs-2{
	background-color: #225378
}